<%= form_for(:login, url: login_path) do |f| %>
  <h2>Sign in</h2>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
<% end %>